<nb-layout [center]="layout.id === 'center-column'" windowMode>
    <nb-layout-header fixed>
        <ngx-header [position]="sidebar.id === 'start' ? 'normal' : 'inverse'"></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive state="compacted" [end]="sidebar.id === 'end'">
        <div class="over">
            <nb-sidebar-header *ngIf="currentTheme !== 'corporate'">
                <a href="#">
                    <button class="btn btn-hero-info main-btn quickstart">
                        <img class="sidebar-icon" src="../../../../assets/images/rpa-lab.png" />
                        <span>RPA LAB</span>
                    </button>
                </a>
            </nb-sidebar-header>
            <ng-content select="nb-menu"></ng-content>
            <nb-sidebar-header *ngIf="currentTheme !== 'corporate'">
                <a>
                    <button class="btn btn-hero-info main-btn quickstart">
                        <img class="sidebar-icon" src="../../../../assets/images/start-up.svg" />
                        <span>Quick Start</span>
                    </button>
                </a>
            </nb-sidebar-header>
            <div class="menu-quick">
                <ul *ngFor="let item of listFiles">
                    <li>
                        <div class="d-flex">
                            <a (click)="runWorkFlow(item.id)" [title]="item.name">
                                <img [src]="item.icon" />
                                <span class="quick-compacted title">{{ item.name }}</span>
                            </a>
                            <div (click)="showDelete(item.id)">
                                <i class="fas fa-trash-alt delete-quick quick-compacted"></i>
                            </div>

                            <!-- <img class="delete-quick quick-compacted" src="item.icon" (click)="showDelete(item.id)" /> -->
                        </div>
                    </li>
                </ul>

                <ul class="border-bottom" (click)="openWorkFlow()">
                    <li>
                        <a class="quick-compacted" title="Add more">
                            <i class="fas fa-plus add-quick"></i>
                            <span class="quick-compacted title">Add more</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nb-sidebar>
    <nb-layout-column class="main-content">
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>
    <nb-layout-footer>
        <ngx-footer></ngx-footer>
    </nb-layout-footer>
    <nb-sidebar class="settings-sidebar" tag="settings-sidebar" state="collapsed" fixed [end]="sidebar.id !== 'end'"> </nb-sidebar>
</nb-layout>
<dialog-cmp #confirmDeleteDialog [config]="dialogConfig" (rightBtnEventEmitter)="onDelete($event)"></dialog-cmp>
